.o_form_view .multi-line-tabs .nav-tabs {
    flex-wrap: wrap !important;
}

.oe_picture_grid > div {
    padding: 10px;
    text-align: center;
}
.oe_picture_grid img, .oe_picture_grid .o_image_box img {
    object-fit: cover;
    width: 180px !important;
    height: 180px !important;
    border-radius: 8px;
    border: 1px solid #eee;
}

.o_form_view .o_form_sheet .o_group .o_td_field > .o_field_widget {
    min-width: 220px; /* Ajusta según necesites */
    width: 100%;
}


